<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>02_1_filtering</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h1>객체 탐색</h1>
	<h2>필터링 메소드</h2>
	<h4 class="test">test-a</h4>
	<h4 class="test">test-b</h4>
	<h4 class="test">test-c</h4>
	<h4 class="test">test-d</h4>
	<h4>test-e</h4>
	<h4 class="test">test-f</h4>
	<script>
	 $(function(){
		 // 선택자 이용
		$('h4:even').css({'background':'orange', 'color':'white'});
		 // filter() 이용
		$('h4').filter(':even').css({'background':'orange', 'color':'white'});
		$('h4').filter(':odd').css({'background':'yellowgreen', 'color':'white'});
		console.log($('h4').first().text());
		// text() : 태그 안의 값 확인하거나 수정할 때 사용
		
		$('h4').first().text($('h4').first().text()+" : 처음 요소");
		$('h4').last().css('font-size', '1.5em');
		$('h4').eq(3).text($('h4').eq(3).text() + " : eq()메소드로 필터링됨");
		$('h4').not('.test').css({'background':'red', 'color':'white'});
	 });
	</script>
</body>
</html>