<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>05_effect</title>
<!-- <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
	.menu{
		width: 300px; height: 30px; background:yellowgreen;
		border-radius: 10px; text-align: center; border:1px solid green;
		cursor: pointer;}
	.contents{
		border: 1px solid lightgray; width: 300px; height: 200px; display: none;}
</style>
</head>
<body>
	<h1>효과</h1>
	<h2>show()와 hide()</h2>
	<p>객체를 크게 하여 보여주거나 작게 하여 사라지게 함</p>
	<button id="show">보이기</button>
	<button id="hide">숨기기</button>
	<button id="toggle">토글이</button>
	<br>
	<img id="river" src="../images/river1.PNG">
	<script>
		$('#show').click(function(){
		//	$('#river').css('display', 'inline');
		//	$('#river').show();
			$('#river').show(100);
		});
		
		$('#hide').on('click', function(){
		//	$('#river').css('display', 'none');
		//	$('#river').hide();
			$('#river').hide(800);
		});
		
		// 토글 버튼 구현 : show()와 hide() 합치기
		// 내 코드
 		$('#toggle').click(function(){
 			$('#river').toggle();
 		});
		
		// 방법1
// 		var count = 0;
// 		$('#toggle').click(function(){
// 			count++;
// 			if(count % 2 !=0){
// 				$('#river').hide();
// 			} else{
// 				$('#river').show();
// 			}
// 		});

		// 방법2
		var check = true;
		$('#toggle').click(function(){
// 			if(check){
// 				$('#river').hide();
// 				check = false;
// 			} else{
// 				$('#river').show();
// 				check = true;
// 			}

		// 방법3
// 		console.log($('#river').css('display'));
// 		if($('#river').css('display')!='none'){
// 			$('#river').hide();
// 		} else{
// 			$('#river').show();
// 		}
		});
	</script>
	
	<h2>slideDown()와 slideUp()</h2>
	<div class="menu">첫 번째 메뉴</div>
	<p class="contents">내용1</p>
	<div class="menu">두 번째 메뉴</div>
	<p class="contents">내용2</p>
	<div class="menu">세 번째 메뉴</div>
	<p class="contents">내용3</p>
	<div class="menu">네 번째 메뉴</div>
	<p class="contents">내용4</p>
	<div class="menu">다섯 번째 메뉴</div>
	<p class="contents">내용5</p>
	
	<script>
		$('.menu').click(function(){
			if($(this).next().css('display')=='none'){
				$(this).next().slideDown();
			} else{
				$(this).next().slideUp();
			}
		});
		
// 		$('.menu').click(function(){
// 				$(this).next().slideToggle();
// 		});
	</script>
	
	<h2>fadeIn()와 fadeOut()</h2>
	<button id="fadeIn">fadeIn()</button>
	<button id="fadeOut">fadeOut()</button>
	<button id="fadeToggle">fadeToggle()</button>
	<br>
	<img id="flower" src="../images/flower1.PNG">
	<script>
		$('#fadeIn').click(function(){
			$('#flower').fadeIn();
		});
		$('#fadeOut').click(function(){
			$('#flower').fadeOut();
		});
		
		$('#flower').hover(function(){
			$(this).fadeTo(700, 0.4);	// mouseenter
		}, function(){
			$(this).fadeTo(700, 1);		// mouseleave
		});
		
		$('#fadeToggle').click(function(){
			$('#flower').fadeToggle();
		});
		
		
		
	</script>

</body>
</html>